
/* font */
@font-face {
  font-family: 'CustomFont';
  src: url('fonts/fonty.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'AnotherFont';
  src: url('fonts/fontx.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font3';
  src: url('fonts/farewell.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font4';
  src: url('fonts/font4.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font5';
  src: url('fonts/font5.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font6';
  src: url('fonts/font6.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font7';
  src: url('fonts/font7.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font8';
  src: url('fonts/font8.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font9';
  src: url('fonts/font9.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font10';
  src: url('fonts/font10.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font11';
  src: url('fonts/font11.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font12';
  src: url('fonts/font12.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font13';
  src: url('fonts/font13.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font14';
  src: url('fonts/font14.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font15';
  src: url('fonts/font15.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font16';
  src: url('fonts/font16.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font17';
  src: url('fonts/font17.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font18';
  src: url('fonts/font18.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font19';
  src: url('fonts/font19.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font20';
  src: url('fonts/font20.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font21';
  src: url('fonts/font21.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font22';
  src: url('fonts/font22.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font23';
  src: url('fonts/font23.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font24';
  src: url('fonts/font24.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font25';
  src: url('fonts/font25.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font26';
  src: url('fonts/font26.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font27';
  src: url('fonts/font27.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font28';
  src: url('fonts/font28.woff2') format('woff2');
  font-display: swap;
}